<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xipu.MyMapper">
    <select id="selectNextLink" resultType="String">
        SELECT LINK
        FROM LINKS_TO_BE_PROCESSED
        LIMIT 1
    </select>

    <delete id="deleteLink" parameterType="String">
        DELETE
        FROM LINKS_TO_BE_PROCESSED
        WHERE LINK = #{link}
    </delete>

    <insert id="insertNews" parameterType="com.xipu.News">
        INSERT INTO NEWS (LINK, TITLE, CONTENT, CREATED_AT)
        VALUES (#{link}, #{title}, #{content}, NOW())
    </insert>

    <select id="countLink" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM LINK_ALREADY_PROCESSED
        WHERE LINK = #{link}
    </select>

    <insert id="insertLink" parameterType="HashMap">
        INSERT INTO
        <choose>
            <when test="tableName == 'LINK_ALREADY_PROCESSED'">
                LINK_ALREADY_PROCESSED
            </when>
            <otherwise>
                LINKS_TO_BE_PROCESSED
            </otherwise>
        </choose>
        (LINK)
        VALUES(#{link})
    </insert>

</mapper>